* {
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
  }
  
  .App {
    text-align: center;
    margin: 0;
    padding: 0;
    height: 100%;
  }

  /*add team*/

  
  
  .team-form{
    display: flex;
    flex-direction: row;

  }
  .tm-form{
    margin-left: 29%;
    margin-top: 2%;
  }

  li {
    list-style: none;
  }

  
  /* Nav Bar - Public Route / Landing Page */
  
  .nav-home {
    border: #000066 solid 2px;
    background-color: #000066;
    color: white;
    padding: 15px;
    font-size: 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  nav h1 {
    font-size: 35px;
  }
  #link {
    color: white;
  }

  #link:hover{
    color: #000066;
    background-color: white;
  }
  
  .nav-links a {
    margin: 10px;
    font-size: 25px;
    color: white;
  }
  
  nav h1,
  nav a {
    text-decoration: none;
    color: white;
  }
  
  nav a:hover {
    color: white;
  }
  
  nav a:visited {
    color: gray;
  }

  #button{
    color: white;
    background-color: #000066;
    border: solid white 2px;
    border-radius: 0.5rem;
    box-shadow:#000066;
    padding: 2px;
    font-size: 20px;

  }



  #button:hover{
    color:blue;
    background-color: white;
    font-weight: bold;
  }
  
  /* Dashboard Nav / Logged In */
  
  .dashboard-menu {
    color: white;
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #000066;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .dashboard-menu h2 {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
  }
  
  .dashboard-menu ul {
    list-style-type: none;
    padding: 0;
    text-align: left;
    padding-left: 5px;
    color: white;
  }
  
  .dashboard-menu a:visited {
    color: #c4bdbd;
  }
  
  @media screen and (min-width: 900px) {
    .team-form{
      display: flex;
      flex-direction: row;
    }
    .tm-form{
      margin-left: 30%;
      margin-top: 2%;
    }
  
  }
  @media screen and (min-width: 320px) and (max-width: 900px) {
    .dashboard-menu {
      width: 100%;
      position: unset;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      color: white;
    }
  
    
    .dashboard-menu ul {
      display: flex;
      flex-wrap: wrap;
    }
  }
  
  /* Header / Landing Page */
  
  header {
    margin-left: 5%;
    flex-direction: column;
    justify-content: center;
    flex-direction: row;
    max-width: 1200px;
  }
  
  .hero {
    border: 2px solid #707070;
    box-shadow: #707070;
    border-radius: 1rem;
    margin: 15px 2.5%;
    padding: 150px;
    flex-basis: 45%;
    box-sizing: border-box;
    background-color: #707070;
  } 

  .hero1 {
    border: 2px solid #707070;
    box-shadow: #707070;
    border-radius: 4px;
    margin-left: 22%;
    margin-right: 10%;
    padding: 150px;
    flex-basis: 45%;
    box-sizing: border-box;
    background-color: #707070;
  }
  .hero1 h2 {
    color: white;
    justify-content: space-between;
  }

  .hero1 p {
    color: white;
  }

  .hero1 li {
    color: white;
  }

  .hero h2 {
    color: white;
    justify-content: space-between;

  }

  .hero a {
    text-decoration: none;
    color: white;
    margin-top: 2%;
  }

  .hero a:hover{
    color: black;
  }

  .hero p {
    color: white;
    margin: 1%;
  }

  #h-button {
    background-color: #707070;
    border: white 2px solid;
    box-shadow: white;
    border-radius: 1rem;
    padding: 2%;
  } 

  #sign-in {
    color: white;
    background-color: #707070;
    border: solid white 2px;
    box-shadow:#707070;
    padding: 3px;
    margin: 1px;
  }
  #sign-in:hover{
    color:#707070;
    font-weight: bolder;
    border: #707070 2px solid;
    background-color: white;

  }

  .create-account a {
    color: #404040;
    font-weight: bolder;
    margin-top: 2px;
    text-decoration: none;
  }
  .create-account a:hover{
    color:black;
    font-weight: bolder;
  }

  .account{
    color: #404040;
    margin-bottom: 1px;
  }

  .email-label{
    color: #404040;
    font-weight: bolder;
  }
  .password-label{
    color: #404040;
    font-weight: bolder;
  }
  
  
  
  
  @media screen and (min-width: 320px) and (max-width: 768px) {
    header {
      flex-direction: column;
      margin: 35px auto;
    }
  
    .hero {
      padding: 80px;
    }
  
  }
  

  
  
  /* Footer */
  
  .footer {
    border: #000066 2px solid;
    background-color: #000066;
    color: white;
    height: 25px;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  /* Login Page */
  
  .login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .login-section {
    display: flex;
    flex-direction: column;
  }
  
  /* Register */
  
  .register-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .register-form {
    display: flex;
    flex-direction: column;
    width: 15%;
    border: #707070 2px solid;
    box-shadow: #707070;
    border-radius: 1rem;
    padding: 10px;
  }
  
  @media screen and (min-width: 320px) and (max-width: 768px) {
    .register-form {
      display: flex;
      flex-direction: column;
      width: 60%;
    }
  }
  
  
  /* Events Main */
  
  .main-events {
    display: flex;
    margin-left: 13%;
    color: #404040;
    font-weight: bold;
  }
  
  .tm-events {
    display: none;
  }
  
  /* EventList */
  
  .event-sidebar {
    flex: 1;
    color:#404040;
  }
  
  .event-sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .event-sidebar h3 {
    border: solid #707070 2px;
    color: #404040;
    padding: 20px;
    margin: 15px;
  }
  
 
  .display-block {
    display: block;
  }
  
  .display-none {
    display: none;
  }
  


  
  @media screen and (min-width: 769px) {
    .view-modal {
      display: none;
    }
  }
  
  /* Event */
  
  .event-view {
    flex: 3;
    display: flex;
    justify-content: center;
    color: white;
  }
  
  .event-view-selected {
    border: solid #707070 2px;
    border-radius: 1rem;
    width: 95%;
    margin-top: 20px;
    background:#707070;
    height: 100%;
  }
  
  .event-team-list ul {
    list-style-type: none;
    color: white;
    padding: 0;
  }

  button {
    color: white;
    background-color: #707070;
    border: solid white 2px;
    box-shadow:#707070;
  }
  
  /* Events Mobile View */
  
  @media screen and (min-width: 320px) and (max-width: 768px) {
    .main-events {
      display: block;
      margin: 0 auto;
    }
  }
  
  /* Add Event View */
  
  .add-event-view {
    flex: 3 1;
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #404040;
    border: solid #707070 2px;
    border-radius: 1rem;
  }
  
  .add-event-form {
    display: flex;
    flex-direction: column;
    width: 50%;
  }
  
  .event-sidebar-hidden {
    display: none;
  }
  
  /* Edit Event View */
  
  .edit-event-view {
    margin: 0 auto;
  }
  
  .edit-event-form {
    display: flex;
    flex-direction: column;
  }
  
  /* Main Team */
  .main-team {
    display: flex;
    margin-left: 13%;
  }
  
  /* Add Team*/
  .add-team-view {
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 1rem;
    padding: 2%;
    flex: 1 1;
    display: flex;
    color: #404040;
    font-weight: bold;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: solid #707070 2px;
    border-radius: 1rem;
  }
  
  .add-team-form {
    display: flex;
    flex-direction: column;
  }
  
  /* Team Sidebar */
  
  .team-sidebar {
    flex: 1;
  }
  
  .team-sidebar h3 {
    border: solid #707070 2px;
    padding: 20px;
    margin: 15px;
  }
  
  .team-sidebar ul {
    list-style-type: none;
    padding: 0;
  }

  .team-sidebar li {
    list-style-type: none;
    
  }

  #team-link {
    color: white;
    list-style-type: none;
    text-decoration: none;
  } 

  



  #sidebar{
    color: #404040;
    background-color: none;
    text-decoration: none;
  } 
  
  /* Team Member */
  
  .team-view {
    flex: 3;
    display: flex;
    justify-content: center;
  }
  
  /* Add Team Member */
  
  .add-team-member-view {
    margin: 0 auto;
  }
  
  .add-team-member-form {
    display: flex;
    flex-direction: column;
  }
  
 
  /* Team View Mobile */
  
  @media screen and (max-width: 768px) {
    .team-desktop {
      display: none;
    } 
  
    .main-team {
      display: block;
      margin: 0 auto;
      color: white;
    }
  }
  
  .team-member-selected {
    border: solid #707070 2px;
    width: 95%;
    margin-top: 20px;
    margin-bottom: 20px;
    background: #707070; 
    border-radius: 1rem;
    color: white;
    height: 40vh;
  }
  

